<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="sidebar" th:fragment="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="javascript:void(0)" class="simple-text logo-mini">
          BJ
        </a>
        <a href="javascript:void(0)" class="simple-text logo-normal">
          Bengkel , <span th:text="${username}"></span>
        </a>
      </div>
      <ul class="nav">
        <li>
          <a href="/dashboard">
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="/admin/mechanics">
            <i class="tim-icons icon-badge"></i>
            <p>Mechanics</p>
          </a>
        </li>
        <li>
          <a href="/sparepart-admin">
            <i class="tim-icons icon-app"></i>
            <p>Spareparts</p>
          </a>
        </li>
        <li>
          <a href="/admin/pelanggan">
            <i class="tim-icons icon-single-02"></i>
            <p>Pelanggan</p>
          </a>
        </li>
        <li>
          <a href="/transaksi">
            <i class="tim-icons icon-basket-simple"></i>
            <p>Transaksi</p>
          </a>
        </li>
      </ul>
    </div>
  </div>